@charset "UTF-8";
body{font-family: '微软雅黑'}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }body, button, input, select,h1, h2, h3, h4, h5, h6{ font-size:100%; }ul, ol { list-style:none; }a { text-decoration:none; }a:hover { text-decoration:underline; }sup { vertical-align:text-top; }sub{ vertical-align:text-bottom; }legend { color:#000; }fieldset, img { border:0; }button, input, select, textarea { font-size:100%; }table { border-collapse:collapse; border-spacing:0; }
.mainBox {
    width: 1000px;
    margin: 0 auto;
}
.center {
    height: 500px;
}
.logoA {
    width: 210px;
    display: block;
    height: 50px;
    background-color: red;
    margin-top: 20px;
    text-indent: -999em;
    background: url('../images/logo-login.png');
}
.img {
    margin-top: 50px;
    float: left;
}
.right {
    float: right;
    border: 2px solid #dedede;
    border-top: 3px solid #3fc3ff;
    margin-top: 50px;
}
.rightH3 {
    text-align: center;
    width: 400px;
    height: 40px;
    line-height: 40px;
}
.xiang {
    width: 350px;
    margin:0 auto;
    border: 1px solid #3fc3ff;
}
.Value {
    width: 250px;
    height: 20px;
    margin: 10px auto;
}
.text,.passw{
    height: 30px;
    width: 300px;
    margin-left: 50px;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    font-size: 12px;
}
.text {
    border-bottom:none;
    border-radius: 5px 5px 0 0;
}
.passw{
    border-radius:0 0 5px 5px;
}
.checkleft{
    margin-top: 20px;
    margin-left: 50px;
}
.checkspan {
    font-size: 12px;
    color:#666666;
    margin-left: 5px;
}
.checkright{
    margin-left: 190px;
    color: #666;
    font-size: 12px;
}
.login {
    margin-top: 20px;
    margin-left: 55px;
    background-color: #3fc3ff;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    outline: none;
}
.login:hover{
    background-color: #44d3ff;
}
.login:active{
    background-color: #aeffec;
}
.join {
    margin-top: 20px;
    margin-left: 55px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: none;
    border: 1px solid #3fc3ff;
    border-radius: 7px;
    color: #3fc3ff;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 30px;
}
.loginP {
    text-align: center;
    font-size: 12px;
    color: #666666;
}






